<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">
        <activity
            android:name=".booking.FavoriteListActivity"
            android:exported="false" />
        <activity
            android:name=".booking.ReviewHotelActivity"
            android:exported="false" />
        <activity
            android:name=".booking.MyBookingActivity"
            android:exported="false" />
        <activity
            android:name=".booking.ViewDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".booking.RatingHotelActivity"
            android:exported="false" />
        <activity
            android:name=".booking.SearchHotelActivity"
            android:exported="false" />
        <activity
            android:name=".booking.HotelMapActivity"
            android:exported="false" />
        <activity
            android:name=".booking.DashboardAdminActivity"
            android:exported="false" />
        <activity
            android:name=".booking.HotelAddActivity"
            android:exported="false" />
        <activity
            android:name=".booking.ViewImageGalleryActivity"
            android:exported="false" />
        <activity
            android:name=".booking.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".booking.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".booking.RegisterEmailActivity"
            android:exported="false" />
        <activity
            android:name=".booking.LoginPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".booking.OtpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".booking.ResultSearchActivity"
            android:exported="false" />
        <activity
            android:name=".booking.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".booking.GuestAndRoomActivity"
            android:exported="false" />
        <activity
            android:name=".booking.HotelPoliciesActivity"
            android:exported="false" />
        <activity
            android:name=".booking.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".booking.ProfileMainActivity"
            android:exported="false" />
        <activity
            android:name=".booking.Payment2Activity"
            android:exported="false" />
        <activity
            android:name=".booking.ViewBookingActivity"
            android:exported="false" />
        <activity
            android:name=".booking.HotelDetailActivity"
            android:exported="false" />
        <activity
            android:name=".booking.HotelFacilitiesDetailActivity"
            android:exported="false" />
        <activity
            android:name=".booking.ViewRoomActivity"
            android:exported="false" />
        <activity
            android:name=".booking.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".booking.SearchLocationActivity"
            android:exported="false" />
        <activity
            android:name=".booking.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".booking.FireBaseActivity"
            android:exported="false" />
        <activity
            android:name=".booking.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".booking.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_map_api_key" />
    </application>

</manifest>